.header_main{
    position: relative;
    color: white;
    object-fit: contain;
    height: 100vh;
    margin-bottom: 6rem;
}

.header_content{
    margin-left: 40px;
    padding-top: 200px;
    height: 480px;
}

.header_content_name{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: .3rem;
}

.header__container_overview{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.header_content-fade{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}

.header_content_PlayBtn{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.btn-play{
    background-color: #F44336;
}

.header_content_PlayBtn:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}