.navigationBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav{
    position: fixed;
    top: 0;
    padding: 30px;
    width: 100%;
    height: 70px;
    z-index: 1;

    /* Animations  */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_black{
    background-color: #111;
}

.nav .navbar_container_links:hover{
    color: rgb(160, 161, 163);
}

.links:hover {
    color: rgb(160, 161, 163);
}

.navbar_head_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.navbar_head_left div{
    padding: 10px 10px;
}

.navbar_head_right div{
    padding: 10px 10px;
}

.navbar_head_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.navigation__container__logo{
    width: 9rem;
}

.navbar_head_right img{
    height: 1em;
    width: 1em;
}

.navbar_container_links{
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 800px) {
    .navbar_container_links {
      display: none;
    }
}
