.navigationBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav{
    position: fixed;
    top: 0;
    padding: 30px;
    width: 100%;
    height: 70px;
    z-index: 1;

    /* Animations  */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navbar_head_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_head_left div{
    padding: 10px 10px;
}

.navbar_head_right div{
    padding: 10px 10px;
}

.navbar_head_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.navigation__container__logo{
    width: 9rem;
}

.navbar_head_right img{
    background-color: black;
    height: 2em;
    width: 2em;
}

.nav_black{
    background-color: #111;
}