* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigationBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin: 1em 1em;
}

.navbar_head_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_head_left div{
    padding: 10px 10px;
}

.navbar_head_right div{
    padding: 10px 10px;
}

.navbar_head_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.navigation__container__logo{
    width: 9rem;
}

.navbar_head_right img{
    background-color: black;
    height: 2em;
    width: 2em;
}